body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  height: 540px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/free-photo/aerial-view-green-forest_144627-45271.jpg?w=1380&t=st=1681291931~exp=1681292531~hmac=3abc99f89011a205c9c932166fb1afc1534e4bb92f27a7e35905bc55491724f4");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  /* background-color: red; */
  display: flex;
  padding: 0 5% 0 10%;
  align-items: center;
  justify-content: space-between;
  color: #57815d;
}

nav h1 {
  font-size: 25px;
}

nav .menu-item {
  display: flex;
  gap: 35px;
}

nav .menu-item > a {
  align-self: center;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #426f4a;
}

nav .menu-item > a:hover {
  color: white;
  text-shadow: 10px;
  font-weight: bold;
}

.hero-content {
  color: white;
  justify-content: center;
  align-self: center;
}

.hero-content h1 {
  font-size: 100px;
}

.hero-content h3 {
  font-size: 30px;
}

span {
  color: red;
}

.about {
  padding: 5% 0;
  height: 350px;
  display: flex;
  margin: 0 50px;
}

.about p {
  text-align: justify;
}

.about h1 {
  font-size: 40px;
}

.about > div {
  width: 50%;
  margin: 0 30px;
}

.about img {
  box-shadow: inset;
  border-radius: 5px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3% 5%;
  height: fit-content;
  background: #223a26;
}

.container > div {
  margin: 0 40px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  color: #f2e8cf;
}

.container p {
  color: #f2e8cf;
}

.container .card-group {
  display: flex;
  gap: 30px;
}

.card {
  height: fit-content;
  width: 400px;
  margin: 0 40px;
  background: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.5);
}

.card img {
  width: 100%;
  height: 200px;
}

.card .text {
  padding: 0 30px;
  font-size: 14px;
}

.join-form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/free-photo/aerial-view-green-forest_144627-45271.jpg?w=1380&t=st=1681291931~exp=1681292531~hmac=3abc99f89011a205c9c932166fb1afc1534e4bb92f27a7e35905bc55491724f4");
  padding: 5% 25%;
  height: 720px;
  align-self: center;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-form h1 {
  margin: 40px;
  color: #f2e8cf;
  font-size: 30px;
}

form {
  width: 600px;
  margin: 0 40px 0 40px;
  padding: 20px 30px;
  background-color: #283618;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(61, 93, 63, 1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

label span {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #618225;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 12px;
}

input[type="checkbox"] {
  transform: scale(2);
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 5px 10px;
}

.btn-primary {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  align-content: center;
  background: #386641;
  outline: none;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.btn-primary:hover {
  background: #588157;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.btn-secondary {
  font-family: "Poppins", sans-serif;
  background: #e7a117;
  outline: none;
  border: none;
  padding: 10px 30px;
  color: #222832;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.btn-secondary:hover {
  background: #f6bf4f;
  font-weight: bolder;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #264331;
  color: #fff;
  padding: 40px 50px 40px 50px;
}

footer > div {
  display: flex;
  flex-direction: row;
  margin: 0 40px;
}

footer > div > div {
  justify-content: start;
  margin: 0 40px 0 40px;
}

footer ul li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

footer .footer {
  width: 30%;
}

footer .footer h1 {
  width: 30%;
  font-weight: bolder;
  font-size: 60px;
}

footer .copyright {
  width: 100%;
  justify-content: center;
  align-self: center;
}
